{% extends "base_app.html" %}
{% block title %}{{ _('account.delete_confirm_page_title') }}{% endblock %}
{% block content %}
<header class="page-head">
  <h1>{{ _('account.delete_confirm_page_heading') }}</h1>
  <p class="page-sub">{{ _('account.delete_confirm_page_sub') }}</p>
</header>

<section class="card danger-zone">
  <p>{{ _('account.delete_confirm_page_warn', email=user.email) }}</p>
  <form method="post" action="/account/confirm-delete">
    <input type="hidden" name="token" value="{{ token }}">
    <div class="row">
      <button type="submit" class="danger">{{ _('account.delete_confirm_page_button') }}</button>
      <a class="button ghost" href="/account?tab=profile">{{ _('common.cancel') }}</a>
    </div>
  </form>
</section>
{% endblock %}
